<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/style.css" />
	<title>Document</title>
</head>
<body class="two">
	<h1 class="error-h1">Identification of a User</h1>
	
	<table class="table">
		<tbody >
<tr>
	<td class="error_message">
		<p>Id can not be changed or modified. </p>
			<p>The only possible solution is to delete the current Trainer.</p>
	</td>
</tr>
	<tr>
		<td class="error_message">
			<h3>Do not try to modify Ids</h3>
		</td>
	</tr>
	
	<tr>
		<td class="error_message">
			
			<div class="td-home"><a href="/" ><i class="fas fa-home"></i></a></div>
				<div class="back-home">Home Page</div>
			
		</td>
	</tr>
			
		</tbody>
	</table>

</body>
</html>